.desktop-icon {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 70px;
    /* use this instead of text-align */
    align-items: center;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: 'MS Sans Serif';
    text-shadow: 1px 1px black;
    cursor: pointer;
    user-select: none;
    /* content should be able to be dragged ABOVE icon */
    z-index: 0;
    /* keeps contents icon from shifting when selected */
    border: 1px solid transparent;
    box-sizing: border-box;
    padding-top: 6px;
}
.desktop-icon * {
    pointer-events: none;
}
.desktop-icon.active {
    background-color: #000080; /* Classic Windows blue */
    color: white;
    /* when selected, the transparent border becomes visible */
    border: 1px dotted #ffffff;
}

.desktop-icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 4px;
}

/* fun fact: desktop-icon img worked, but .horoscope-icon didn't work by itself

you can just add the more specific selector in that case in front of the one that's not working */
.desktop-icon img.horoscope-icon {
    width: 50px;
    height: 60px;
}
.desktop-icon.selected {
    background-color: rgba(0, 0, 128, 0.5); /* Classic Windows selection color */
    outline: 1px dotted white;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 300px;
    background: #c0c0c0;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    font-family: 'MS Sans Serif';
}

.modal-header {
    background: #000080;
    color: white;
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
}

.modal-button {
    display: flex;
    background: #c0c0c0;
    border: none;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: -5px;
    color: black;
    width: 5px;
    height: 5px;
}

.modal-body {
    background: #ececec;
    padding: 12px;
    color: black;
    }
