/* to-do
  - FIX content border scrolling up when user scrolls down the page
  - make desktop link button look like the ones on this website (Resume icon) 
      - https://www.donchia.tech/

*/

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

::-webkit-scrollbar {
  width: 5px; 
}

/*********** Desktop Design *******************/
/* like a Windows 95 window with a cloud background */

/* desktop view */
body {
  /* image doesn't repeat, centers the pic horizontal & vertical */
  /* center/cover centers the pic & covers the entire background */
  background: url('./assets/boop.png') no-repeat center/cover;
}

.blue-bar {
  width: 70vw;
  /* if you don't include max-content, then the navbar spreads */
  position: absolute;
  text-align: left;
  background: linear-gradient(to right, #02198e, #1178c9);
  border: 1px solid #c0c0c0;
  box-sizing: border-box;
  height: 40px;
  display: flex;
}
.blue-bar-text {
  /* font-family: "Handjet", sans-serif;
  font-weight: 250; */
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.5px;
  font-size: 17px;
}
.blue-bar img {
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.navbar {
  padding: 11px 0;
}
.navbar ul {
  /* removes the browser's default 40px padding to the left of the navbar */
  width: 70vw;
  padding: 0;
  display: flex;
  text-decoration: none;
  position: absolute;
  background: #c3c3c3;
  border-bottom: 1px solid black; /* Top border */
}
nav ul li {
  list-style: none;
  padding-right: 10px;
  cursor: pointer;
  border: 1px solid black;
}
.button {
  background: rgb(195, 195, 195);
  border-top: solid rgb(250, 250, 250) 1px;
  border-left: solid rgb(250, 250, 250) 1px;
  border-right: solid rgb(90, 90, 90) 1px;
  border-bottom: solid rgb(90, 90, 90) 1px;
  box-shadow: 1px 1px black;
  align-items: center;
  margin: 3px;
}
nav ul li a {
  color: black;
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.5px;
}
nav ul li::first-letter {
  text-decoration: underline;
}

.window {
  background-color: #c3c3c3;
  border-top: solid rgb(250, 250, 250) 2px;
  border-left: solid rgb(250, 250, 250) 2px;
  border-right: solid rgb(90, 90, 90) 1.5px;
  border-bottom: solid rgb(90, 90, 90) 1.5px;
  box-shadow: 1.5px 1.5px black;
  outline: rgb(222, 222, 222) 1px solid;
}
.content {
  padding-top: 50px;
  width: 70vw;
  height: 70vh;
  color: black;
}

.paragraph {
  width: 50vw;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 15px;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 15px;
  background: repeating-conic-gradient(
      rgb(189, 190, 189) 0% 25%,
      rgb(255, 255, 255) 0% 50%
    )
    50% / 2px 2px;
}
::-webkit-scrollbar-thumb {
  background: rgb(189, 190, 189);
  /* box-shadow: 1.5px 1.5px black; */
  border-top: solid rgb(250, 250, 250) 1.5px;
  border-left: solid rgb(250, 250, 250) 1.5px;
  border-bottom: solid rgb(90, 90, 90) 1.5px;
  border-right: solid rgb(90, 90, 90) 1.5px;
  outline: rgb(219, 219, 219);
}

/*********** Mobile Design *******************/
@media (max-width: 768px) {
  body {
    background: #c0c0c0;
  }

  header {
    position: fixed;
    width: 100vw;
    width: 100%;
    top: 0;
    left: 0;
  }

  /* gradient: #02198e to #1178c9 */
  .blue-bar {
    top: 0;
    left: 0;
    width: 100%;
    /* if you don't include max-content, then the navbar spreads */
    position: absolute;
    text-align: left;
    background: linear-gradient(to right, #02198e, #1178c9);
    border: 1px solid #c0c0c0;
    box-sizing: border-box;
  }

  .navbar {
    padding: 10px 0;
  }
  .navbar ul {
    /* removes the browser's default 40px padding to the left of the navbar */
    padding: 0;
    display: flex;
    text-decoration: none;
    left: 0;
    position: absolute;
    width: 100%;
  }
  nav ul li {
    list-style: none;
    padding-right: 10px;
    color: black;
  }

  .content {
    margin-top: 10px; /* Space between header and content */
    padding: 10px; /* Optional: Adjust padding inside content */
    height: 100vh; /* Ensures it covers the page */
    box-sizing: border-box;
    position: absolute;
    /* pulling all the stuff inside over to the left b/c I'm trying to make a border */
    left: 1.5px;
    top: 50px;
    justify-content: center;
    margin: 0 auto;
    width: 99vw;
  }

  .window {

  }
}

